.section-portfolio, .icon-section-portfolio {
  color: #18BC9C;
}

.detail-root {
  display: block;
  position: relative;
  margin: 0px auto;
  max-width: 400px;
  padding: 0;
}

.detail-titles {
  padding: 0;
  color: #2C3E50;
  text-decoration: none;
}

.detail-titles:hover {
    text-decoration: none;
    color:inherit;
}

.detail-title {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 0 0;
}

.detail-subtitle {
  font-size: 12px;
  margin: 0;
}

.detail-info {
  margin:0;
  font-size: 12px;
  font-style: italic;
}

.detail-icons {
  padding: 0;
  margin: 0;
}
