@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?stvagb');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?stvagb#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?stvagb') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?stvagb') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?stvagb##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-port-"], [class*=" icon-port-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-port-bubble {
  &:before {
    content: $icon-port-bubble; 
  }
}
.icon-port-bubbles {
  &:before {
    content: $icon-port-bubbles; 
  }
}
.icon-port-firebase {
  &:before {
    content: $icon-port-firebase;     
    color: #ffca28;
  }
}
.icon-port-git {
  &:before {
    content: $icon-port-git;     
    color: #f05032;
  }
}
.icon-port-html5 {
  &:before {
    content: $icon-port-html5;     
    color: #e34f26;
  }
}
.icon-port-css {
  &:before {
    content: $icon-port-css;     
    color: #f43059;
  }
}
.icon-port-css3 {
  &:before {
    content: $icon-port-css3;     
    color: #1572b6;
  }
}
.icon-port-nuxt {
  &:before {
    content: $icon-port-nuxt;     
    color: #00c58e;
  }
}
.icon-port-js {
  &:before {
    content: $icon-port-js;     
    color: #393;
  }
}
.icon-port-vue {
  &:before {
    content: $icon-port-vue;     
    color: #4fc08d;
  }
}
.icon-port-sass {
  &:before {
    content: $icon-port-sass;     
    color: #c69;
  }
}
.icon-port-search {
  &:before {
    content: $icon-port-search; 
  }
}
.icon-port-zoom-in {
  &:before {
    content: $icon-port-zoom-in; 
  }
}
.icon-port-zoom-out {
  &:before {
    content: $icon-port-zoom-out; 
  }
}
.icon-port-download {
  &:before {
    content: $icon-port-download; 
  }
}
.icon-port-minimize {
  &:before {
    content: $icon-port-minimize; 
  }
}
.icon-port-maximize {
  &:before {
    content: $icon-port-maximize; 
  }
}
.icon-port-cross {
  &:before {
    content: $icon-port-cross; 
  }
}
.icon-port-arrow-left {
  &:before {
    content: $icon-port-arrow-left; 
  }
}
.icon-port-send {
  &:before {
    content: $icon-port-send; 
  }
}
.icon-port-mail {
  &:before {
    content: $icon-port-mail; 
  }
}
.icon-port-heart-outlined {
  &:before {
    content: $icon-port-heart-outlined; 
  }
}
.icon-port-heart {
  &:before {
    content: $icon-port-heart; 
  }
}
.icon-port-signal {
  &:before {
    content: $icon-port-signal; 
  }
}
.icon-port-wifi {
  &:before {
    content: $icon-port-wifi; 
  }
}
.icon-port-battery-1 {
  &:before {
    content: $icon-port-battery-1; 
  }
}
.icon-port-battery-2 {
  &:before {
    content: $icon-port-battery-2; 
  }
}
.icon-port-battery-3 {
  &:before {
    content: $icon-port-battery-3; 
  }
}
.icon-port-battery-0 {
  &:before {
    content: $icon-port-battery-0; 
  }
}
.icon-port-battery {
  &:before {
    content: $icon-port-battery; 
  }
}
.icon-port-earth {
  &:before {
    content: $icon-port-earth; 
  }
}
.icon-port-instagram {
  &:before {
    content: $icon-port-instagram; 
  }
}
.icon-port-twitter {
  &:before {
    content: $icon-port-twitter; 
  }
}
.icon-port-github {
  &:before {
    content: $icon-port-github; 
  }
}
.icon-port-linkedin {
  &:before {
    content: $icon-port-linkedin; 
  }
}
.icon-port-share2 {
  &:before {
    content: $icon-port-share2; 
  }
}

