$icomoon-font-family: "Portfolio" !default;
$icomoon-font-path: "fonts" !default;

$icon-port-bubble: "\e96b";
$icon-port-bubbles: "\e96c";
$icon-port-firebase: "\e900";
$icon-port-git: "\e901";
$icon-port-html5: "\e902";
$icon-port-css: "\e903";
$icon-port-css3: "\e904";
$icon-port-nuxt: "\e905";
$icon-port-js: "\e906";
$icon-port-vue: "\e907";
$icon-port-sass: "\e908";
$icon-port-search: "\e986";
$icon-port-zoom-in: "\e987";
$icon-port-zoom-out: "\e988";
$icon-port-download: "\e909";
$icon-port-minimize: "\e98c";
$icon-port-maximize: "\e989";
$icon-port-cross: "\ea0f";
$icon-port-arrow-left: "\e90a";
$icon-port-send: "\e90b";
$icon-port-mail: "\e90c";
$icon-port-heart-outlined: "\e90d";
$icon-port-heart: "\e90e";
$icon-port-signal: "\e90f";
$icon-port-wifi: "\e91b";
$icon-port-battery-1: "\e910";
$icon-port-battery-2: "\e911";
$icon-port-battery-3: "\e912";
$icon-port-battery-0: "\e913";
$icon-port-battery: "\e914";
$icon-port-earth: "\e9ca";
$icon-port-instagram: "\ea92";
$icon-port-twitter: "\ea96";
$icon-port-github: "\eab0";
$icon-port-linkedin: "\eac9";
$icon-port-share2: "\ea82";

