$icomoon-font-family: "Portfolio" !default;
$icomoon-font-path: "fonts" !default;

$icon-port-minimize: "\e98c";
$icon-port-maximize: "\e989";
$icon-port-cross: "\ea0f";
$icon-port-arrow-left: "\e900";
$icon-port-send: "\e901";
$icon-port-mail: "\e902";
$icon-port-heart-outlined: "\e903";
$icon-port-heart: "\e904";
$icon-port-signal: "\e905";
$icon-port-wifi: "\e91b";
$icon-port-battery-1: "\e906";
$icon-port-battery-2: "\e907";
$icon-port-battery-3: "\e908";
$icon-port-battery-0: "\e909";
$icon-port-battery: "\e90a";
$icon-port-earth: "\e9ca";
$icon-port-instagram: "\ea92";
$icon-port-twitter: "\ea96";
$icon-port-github: "\eab0";
$icon-port-linkedin: "\eac9";

