// Desktop
@media (min-width: 1020px) {
	.app {
		--width-app: 60rem;
    	--height-app: 85%;
		margin-top: 1rem;
		overflow: visible;
		background: #000000;
		border-radius: 20px;

		&__base,
		&__base2 {
			display: block !important;
		}

		.content__main {
			border-radius: 0;
		}

		.glass {
			display: none;
		}

		.portfolio {
			max-width: 32rem;
    		grid-template-columns: repeat(3, 1fr);
		}

		.work.--expanded {
			top: 7rem !important;
			right: 1rem;
			left: unset !important;
			width: 25rem !important;
			height: calc(100% - 13rem) !important;
			border-radius: 0;
		}

		.header {
			display: none;
		}

		.slider {
			position: absolute;
			top: -0.2rem;
			width: 83%;
			left: 10rem;
		}

		.only-desktop {
			display: inline-flex !important;
		}

		.experience {
			max-width: 80%;
		}

		.menu {
			position: absolute;
			left: 50%;
			bottom: 2.3rem;
			z-index: 2;
			transform: translateX(-50%);

			&__inner {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;
				display: block;
				white-space: nowrap;
				background-color: #e4e4cf;
				background: rgba(228, 228, 207, .35);
				backdrop-filter: blur(2px);
    			border-radius: 10px 10px 0 0;
				box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
				$border-color: #cccccc;
				border-top: 1px solid $border-color;
				border-left: 1px solid $border-color;
				border-right: 1px solid $border-color;
			}
			
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 3rem;
				filter: blur(13px);
			}

			li {
				display: inline-flex;
				width: 3rem;	
				color: black;
				transition: all 250ms ease-in;

				[class*="icon-port"] {
					display: inline-block;
					transition: 150ms ease-in all;
				}

				.label {
					position: absolute;
					top: 0;
					opacity: 0;
					text-align: center;
					padding: 5px 10px;
					border-radius: 5px;
					font-size: 14px;
					background: rgba(0,0,0,.4);
					backdrop-filter: blur(2px);
					color: #fff;
					transition: all 150ms ease-in;
					pointer-events: none;
				}

				&:hover {
					width: 8rem;

					[class*="icon-port"] {
						padding-bottom: 1rem;
						transform: scale(4);
					}

					.label {
    					top: -5rem;
						opacity: 1;
					}
				}
			}
		}

		.info {
			display: inline-block;
			width: 11rem;
			padding-top: 1rem;
		}

		.content {
			height: 20rem;
		}

		.slider p {
			min-height: 8rem;
			padding-right: 1rem;
			padding-top: 1.5rem;
		}

		.swiper-container {
			// width: 70%;
			min-height: 8.7rem;
			margin-left: 0;
		}

		.hello {
			height: 8rem;
			text-align: left;
			border-radius: 0;
		}

		.background {
			top: -2rem;
			right: 0;
			left: unset;
			z-index: 1;
			width: 25%;
		}

		.hand-size {
			display: none;
		}
	}

	.fab {
		bottom: 2rem;
	}
}

.app {
	&__base {
        display: none;
        width: 100%;
        height: 32px;
        border-radius: 0 0 20px 20px;
        background: #272626;

        &:before {
            bottom: 10px;
            color: #c8cacb;
            content: "MacBook";
            font-size: 12px;
            height: 16px;
            left: 50%;
            line-height: 16px;
            margin-left: -100px;
            position: absolute;
            text-align: center;
            width: 200px;
            z-index: 1;
        }
    }

	&__base2 {
        display: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
        width: 110%;
        height: 4px;
        margin-top: -10px;
        background: #e2e3e4;
        border: solid #d5d6d8;
        border-radius: 2px 2px 0 0;
        border-width: 0 4px;

        &:before {
            content: '';
            position: absolute;
            background: #a0a3a7;
            border-radius: 0 0 180px 180px/ 0 0 10px 10px;
            box-shadow: inset 0 -2px 6px 0 #474a4d;
            height: 10px;
            left: -4px;
            margin: 0 auto;
            top: 4px;
            width: 100%;
        }

        &:after {
            content: '';
            position: absolute;
            background: radial-gradient(circle at center, #e2e3e4 0, #e2e3e4 85%, #a0a3a7 100%);
            border: solid #adb0b3;
            border-width: 0 2px;
            height: 4px;
            left: 50%;
            margin-left: -60px;
            width: 120px;
        }
    }
}