@import 'variables.scss';
@import 'reset.scss';
@import 'base.scss';
@import 'type-scale.scss';
@import '../icons/style.scss';
@import 'utils.scss';

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--width-app);
    height: var(--height-app);
    overflow: hidden;
    margin-top: 1rem;
    margin: auto;
    text-align: center;
    color: var(--color-text);
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color-app);
    border-radius: 2.8rem;
    box-shadow: 0 0 5rem black;
    overscroll-behavior: none;

    // Desktop
    @media (min-width: 1020px) {
        --width-app: 83%;
        --height-app: 80%;
        margin-top: 1rem;
        overflow: visible;
        background: #000000;
        border-radius: 20px;

        &__base,
        &__base2 {
            display: block !important;
        }

        .content__main {
            border-radius: 0;
        }

        .glass {
            display: none;
        }

        .portfolio {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    // Tablet
    @media (min-width: 820px) {
        --width-app: 70%;
    }

    // Mobile
    @media (max-width: 414px) {
        max-width: unset;
        @include size-full;
        border-radius: 0;

        .header {
            display: none;
        }

        .hello {
            margin-top: 0.5rem;
            border-radius: 0;
        }

        .content__main {
            border-radius: 0;
        }
    }

    &__base {
        display: none;
        width: 100%;
        height: 32px;
        border-radius: 0 0 20px 20px;
        background: #272626;

        &:before {
            bottom: 10px;
            color: #c8cacb;
            content: "MacBook";
            font-size: 12px;
            height: 16px;
            left: 50%;
            line-height: 16px;
            margin-left: -100px;
            position: absolute;
            text-align: center;
            width: 200px;
            z-index: 1;
        }
    }

    &__base2 {
        display: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
        width: 110%;
        height: 4px;
        margin-top: -10px;
        background: #e2e3e4;
        border: solid #d5d6d8;
        border-radius: 2px 2px 0 0;
        border-width: 0 4px;

        &:before {
            content: '';
            position: absolute;
            background: #a0a3a7;
            border-radius: 0 0 180px 180px/ 0 0 10px 10px;
            box-shadow: inset 0 -2px 6px 0 #474a4d;
            height: 10px;
            left: -4px;
            margin: 0 auto;
            top: 4px;
            width: 100%;
        }

        &:after {
            content: '';
            position: absolute;
            background: radial-gradient(circle at center, #e2e3e4 0, #e2e3e4 85%, #a0a3a7 100%);
            border: solid #adb0b3;
            border-width: 0 2px;
            height: 4px;
            left: 50%;
            margin-left: -60px;
            width: 120px;
        }
    }
}

.--mini {
    .hello {
        height: 4rem;
    }

    .slider,
    .background,
    .button-next,
    .button-previous {
        display: none;
    }
}

.fab {
    position: absolute;
    bottom: 1.3rem;
    right: 1.3rem;
    z-index: 1;
    display: inline-block;
    width: var(--fab-size);
    height: var(--fab-size);
    color: var(--color-text--invert);
    background-color: var(--background-color-app);
    border-radius: 50%;
    border: none;
    -webkit-appearance: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;

    &-wrapper {

        p {
            position: absolute;
            right: 0;
            bottom: 0.2rem;
            width: 16rem;
            font-weight: var(--font-bold);
        }
    }
}

.icon-port-unity:before {
    color: var(--color-text--invert);
}

.scroll-area {
    height: 100%;
    border-radius: 0 0 1.8rem 1.8rem;

    @media (max-width: 414px) {
        border-radius: 0;
    }
}

[class*="icon-port-arrow-left"]:before {
    transform: rotate(90deg);
}

.panel {
    color: var(--color-text--invert);
    padding: 1rem;
    background-color: var(--background-color-app);
}