* {
	box-sizing: border-box;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding: 0;

	&:before,
	&:after {
		box-sizing: inherit;
	}
}

body {
	background-color: #212121;
}

.app {
	max-width: 22rem;
	margin: auto;
	height: 44rem;
	background-color: #121212;
	overflow: hidden;
	box-shadow: 0 0 5rem black;
}

$icomoon-font-path: "icons/fonts" !default;
@import './icons/style.scss';
