:root {
	--vh: 0px;
}

* {
	box-sizing: border-box;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding: 0;

	&:before,
	&:after {
		box-sizing: inherit;
	}
}

body {
	line-height: 1.65;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 1.383em;
}

h2 {font-size: 1.296em;}

h3 {font-size: 1.215em;}

h4 {font-size: 1.138em;}

h5 {font-size: 1.067em;}

small, .text_small, p {font-size: 0.937em;}

body {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(var(--vh, 1vh) * 100);
	margin: 0;
	background-color: #212121;
	overscroll-behavior: none;
}

.app {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 380px;
	height: 44rem;
	overflow: hidden;
	margin-top: 1rem;
	margin: auto;
	text-align: center;
	color: #2c3e50;
	background-color: black;
	border-radius: 2.8rem;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: 0 0 5rem black;
	overscroll-behavior: none;

	@media (max-width: 414px) {
		max-width: unset;
		width: 100%;
		height: 100%;
		border-radius: 0;

		.header {
			display: none;
		}

		.hello {
			margin-top: 0.5rem;
			border-radius: 0;
		}

		.content__main {
			border-radius: 0;
		}
	}
}

.content {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  padding: 0 0.7rem 0.7rem 0.7rem;
  background-color: black;
  overflow: hidden;

  &__main {
	position: relative;
    height: 100%;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0 0 2rem 2rem;
    text-align: left;
  }
}

$icomoon-font-path: "icons/fonts" !default;
@import './icons/style.scss';

li.read-more {
	height: auto;
	padding: 1rem;
	text-align: center;
	text-decoration: underline;
	font-weight: 700;
	grid-column: span 2;

	&:before {
		display: none;
	}
}

.--mini {
	.hello {
		height: 3rem;

		.slider,
		.button-next,
		.button-previous {
			visibility: hidden;
		}
	}
}

#work-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
	border-radius: 2.4rem;
}

.work {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	width: 0;
	height: 0;
	overflow: hidden;
	background-color: white;

	&.--expanded {
		transition: all 250ms ease-in;
		top: 2.4rem !important;
		left: 0.7rem !important;
		z-index: 3;
		width: calc(100% - 1.4rem)!important;
		height: calc(100% - 3rem)!important;
		overflow: auto;
		border-radius: 1rem 1rem 2rem 2rem;
		// box-shadow: 0 0 8px 0px white;

		@media (max-width: 414px) {
			top: 0.5rem !important;
			height: calc(100% - 1rem) !important;
    		border-radius: 0;
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}

.fab {
	display: inline-block;
    width: 3rem;
    height: 3rem;
    color: white;
    background-color: black;
    border-radius: 50%;
    border: none;
    -webkit-appearance: none;
	outline: none;
	font-size: 1rem;
	cursor: pointer;

	&-wrapper {
		position: absolute;
		bottom: 0.7rem;
		right: 0.7rem;
		z-index: 1;
		padding: 0.5rem 0.5rem 0.5rem 0;
		background-color: white;
		border-radius: 3rem 2rem 3rem 3rem;

		p {
			position: absolute;
			right: 0;
			bottom: 0.2rem;
			width: 16rem;
			font-weight: 700;
		}
	}

	&:focus {
		box-shadow: 0 0 5px red;
	}
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 4;
    padding: 1rem;
    color: white;

    &:before {
      position: relative;
      z-index: 1;
    }

    &:after {
      content: '';
	  $size: 6rem;
      position: absolute;
      top: -0.5rem;
      right: -0.3rem;
      display: block;
      width: $size;
      height: $size;
      background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, black 100%);
	  pointer-events: none;
    }

	@media (min-width: 414px) {
		top: 2.3rem;
    	right: 0.7rem;
		
		&:after {
			top: 0.1rem;
			right: 0;
	  		border-radius: 0 1rem;
		}
	}
}

#structure {
	position: relative;
    z-index: 2;
}

@import 'glass';

.card {
	position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    z-index: 3;
    width: calc(100% - 0.8rem);
    height: calc(100% - 0.7rem);
	pointer-events: none;
	border-top: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 2.5rem;

	@media (max-width: 414px) {
		display: none;
	}

	&:before {
		content: '';
		position: absolute;
		top: -5.3rem;
		left: 2rem;
		display: block;
		width: 52%;
		height: 9rem;
		background: url('../assets/broken.png') no-repeat;
		background-size: 100% auto;
	}
}

a {
	color: black;
}

.link--as-button {
	display: block;
	width: 100%;
	text-decoration: none;

	&:hover {
		background-color: #ececec;
	}
}

.swiper-container-autoheight .swiper-slide {
	overflow-y: auto;
}

.font-bold {
	font-weight: 700;;
}

.icon-port-unity:before {
	color: white;
}

.scroll-area {
	height: 100%;
}

.ps__thumb-y {
	width: 1px;
	background-color: #698360;
}

.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y,
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y {
	opacity: 1;
}

.ps__rail-y {
	width: 1px;
}